<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gnitsamica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gnitsamica">
        <activity
            android:name=".chemistry"
            android:exported="false" />
        <activity
            android:name=".qp1_1"
            android:exported="false" />
        <activity
            android:name=".semester"
            android:exported="false" />
        <activity
            android:name=".year"
            android:exported="false" />
        <activity
            android:name=".branches"
            android:exported="false" />
        <activity
            android:name=".questionpapers"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>